.franchises{
    background-color: #fbf1ef;
}
.franchises-content{
   
    display: flex;
    flex-basis: 33.33%;
    padding: 0 auto;
}

.container h1{
    text-align: center;
    font-family: ('Trebuchet Ms');
    color: #52AE32;
    margin-top: 0;
    padding-top: 20px;

}
.franchises-themes{
    padding-top: 30px;
}
.franchises-infos-1{
    background-color: #f7B500;
   
  margin-right: 34px;
    
}
.franchises-infos-2{
    background-color: #52AE32;
  
    margin-right: 34px;
}

.franchises-infos-3{
    background-color: #EE7618;
    margin-right: 36px;
}
.franchises-themes h2{
    margin-top: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    font-family: ('Trebuchet MS');
    
}
.franchises-themes h3, p{
    font-family: ('Trebuchet MS');
    text-align: center;
    color: #fff;
}

.franchises-themes h4{
    text-align: right;
    padding-bottom: 20px;
    color: #fff;
    font-family: serif;
}
.far{
    color: #fff;
    font-size: 2rem;
}
.val-eng{
    display: flex;
    margin-bottom: 100px;
}
.valeurs-img{
    position: absolute;

}
.valeurs-infos{
    position: relative;
    background-color: rgba(251, 241, 239, 0.651);
    width: 70%;
    height: 60%;
   margin: 150px 10px 50px 30px;
   padding-bottom: 30px;
}
.valeurs-infos h2{
    text-align: center;
    color: #e7005f;
    font-family:('Trebuchet MS');
   
}
.valeurs-infos h3{
    text-align: center;
    color: #000;
    font-family: ('Trebuchet MS');
}
.valeurs-infos p{
    color: #000;
}
.btn button{
    background-color: #E5007F;
    color: #fff;
    margin: 20px 10px 30px 500px;
}
