.page-header{
    background-color: #FBF1EF;
    height: 150px;
   
  }
  .accueil-content img{align-items: center;
    display: flex;
    

  }
  
  .page-header-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  
    @media (min-width: $bp-large){
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
  }
  .main-nav ul{
    background-color: #ee7618;
    margin-top: 300px;
  }